body {
	text-align: center;
}
.c2{
	position: relative;
	margin: auto;
	width: 1000px;			
}
.imgd {
	position: absolute;
	width: 120px;
	min-height: 200px;
	left: 20px;
	/*background: red;*/
}
.option {
	position: absolute;
	top:0px;
	left:700px;
}
.content {
	position: relative;
	text-align: left;
	width: 800px;
	left:200px;
}
.name {
	color: dodgerblue;
}

a {
	text-decoration: none;
}
#hide1 {
	padding-left: 0px;
}
.innerContern {
	min-height: 90px;
}
.edit{
	min-height: 90px;
	display: none;
}
.foot {
	position: absolute;
	top: 250px;
}
.time {
	color: burlywood;
}